.Label {
    margin: 0 2rem;
}

.adjuster-display {
    margin: 0;
    font-size: 1.2rem;
}


/* https://www.w3schools.com/howto/howto_css_arrows.asp */

.arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}